root = true

[*.cs]
dotnet_diagnostic.VSTHRD103.severity = error
# Enforce braces on all control blocks
csharp_prefer_braces = true:error
dotnet_diagnostic.IDE0011.severity = error
# Prefer string interpolation
dotnet_style_prefer_string_interpolation = true:error
csharp_style_prefer_interpolated_string_expression = true:error
# Custom logging rules
dotnet_diagnostic.DA0002.severity = error
# Enforce file-scoped namespaces
csharp_style_namespace_declarations = file_scoped:error
# Make IDE0161 (convert to file-scoped namespace) an error
dotnet_diagnostic.IDE0161.severity = error

[*.vue]
indent_style = space
indent_size = 2
